.container {
  padding: 0px 20px 0px 20px;
  min-width: 320px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
