<!DOCTYPE html>
<section id="about" class="about">
<div class="container">
        <p class="about__subtitle">TRADITION ABD LOVE</p>
        <p class="about__title">HOW IT'S MADE?</p>

        <div class="about__content">
        <div>
        <picture>
        <source
        srcset="./images/img1-about-desk.webp 1x, ./images/img1-about-desk@2x.webp 2x"
        media="(min-width: 1280px)"
        type="image/webp"
        />
        <source
        srcset="./images/img1-about-desk.png 1x, ./images/img1-about-desk@2x.png 2x"
        media="(min-width: 1280px)"
        />

        <source 
        srcset="./images/img1-about-tabl.webp 1x, ./images/img1-about-tabl@2x.webp 2x" 
        media="(min-width: 768px)"
        type="image/webp"
        />
        <source 
        srcset="./images/img1-about-tabl.png 1x, ./images/img1-about-tabl@2x.png 2x" 
        media="(min-width: 768px)"
        />

        <source 
        srcset="./images/img1-about-mob.webp 1x, ./images/img1-about-mob@2x.webp 2x" 
        media="(min-width: 320px)"
        type="image/webp"
        />
        <source 
        srcset="./images/img1-about-mob.png 1x, ./images/img1-about-mob@2x.png 2x" 
        media="(min-width: 320px)"
        />

        <img
        class="about__img"
        src="./images/img1-about-desk.png"
        alt="moo moo"
        />
        </picture>
        </div>


        <div class="about__text-box">
        <p class="about__text1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
        
        <p class="about__text2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        
        <span class="about__span">Aliquam erat volutpat. Aenean accumsan.</span></p>

        <button type="button" class="about__btn">Read more</button>
        </div>
    </div>

</div>
</section>