<!DOCTYPE html>
<section class="about">
<div class="container">
        <p class="about__subtitle">TRADITION ABD LOVE</p>
        <p class="about__title">HOW IT'S MADE?</p>

        <div class="about__content">
        <img src="./images/img1-about-mobile.png" alt="Корова">

        <div class="about__text-box">
        <p class="about__text1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        <span class="about__span">Aliquam erat volutpat. Aenean accumsan.</span></p>
        <button type="button" class="about__btn">Read more</button>
        </div>
    </div>
</div>
</section>