<!DOCTYPE html>

<section class="section section--color">
  <div class="container card__section">
    <ul class="card__list">
      <li class="card">
      <div class="card__border">
        <span class="card__type">CAFE</span>
        <h4 class="card__country">Chicago</h4>
        <p class="card__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="card__border card__border--margin">
        <span class="card__dayWork"
          >Monday - Friday
          <p class="card__timeWork">06:00 AM - 10:00 PM</p>
        </span>
        <span class="card__dayWork"
          >Saturday - Sunday
          <p class="card__timeWork card__timeWork--margin">
            08:00 AM - 16:00 PM
          </p>
          
        </span>
      </div>
      <ul class="card__contact">
        <li class="card__item">
          <a class="card__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
        <li class="card__item">
          <a class="card__link" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >
        </li>
      </ul>
    </li>
    <li class="card">
      <div class="card__border">
        <span class="card__type card__type--food">FOODTRUCK</span>
        <h4 class="card__country">Los Angeles</h4>
        <p class="card__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="card__border card__border--margin">
        <span class="card__dayWork"
          >Monday - Friday
          <p class="card__timeWork">06:00 AM - 10:00 PM</p>
        </span>
        <span class="card__dayWork"
          >Saturday - Sunday
          <p class="card__timeWork card__timeWork--margin">
            08:00 AM - 16:00 PM
          </p>
        </span>
      </div>
      <ul class="card__contact">
        <li class="card__item">
          <a class="card__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
        <li class="card__item">
          <a class="card__link" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >
        </li>
      </ul>
    </li>
    <li class="card card--margin">
      <div class="card__border">
        <span class="card__type">CAFE</span>
        <h4 class="card__country">New York</h4>
        <p class="card__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        
      </div>
      <div class="card__border card__border--margin">
        <span class="card__dayWork"
          >Monday - Friday
          <p class="card__timeWork">06:00 AM - 10:00 PM</p>
        </span>
        <span class="card__dayWork"
          >Saturday - Sunday
          <p class="card__timeWork card__timeWork--margin">
            08:00 AM - 16:00 PM
          </p>
        </span>
      </div>
      <ul class="card__contact">
        <li class="card__item">
          <a class="card__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
        <li class="card__item">
          <a class="card__link" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >
        </li>
      </ul>
    </li>
    </ul>
    <div class="locationButton">
      <button class="locationButton__map" type="button">
        Our Locations
        <svg class="bracket bracket--white"  width="8px" height="12px">
          <use href="./images/icon-sprite.svg#bracketBlack"/>
        </svg>
        
      </button>

      <button class="locationButton__franchise" type="button">Franchise
        <svg class="bracket"  width="8px" height="12px">
          <use href="./images/icon-sprite.svg#bracketBlack"/>
          </svg>
      </button>
    </div>
  </div>
</section>
