<!DOCTYPE html>
<section class="comments">
<div class="comments__container container">
    <div class="emily">
        <picture>
            <source srcset="./images/Emily.webp 1x, ./images/Emily@2x.webp 2x" type="image/webp">
            <source srcset="./images/Emily.jpg 1x, ./images/Emily@2x.jpg 2x" type="image/jpg">
            <img class="comments__img" src="./images/Emily.jpg" alt="emyli">
        </picture>

        <div class="commets__text-box">
        <p class="comments__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
        <img class="comments__mark" src="./images/mark.png" alt="">
        </div>

        <div class="comments__eclipse-box">
            <div class="comments__eclipse"></div>
            <div class="comments__eclipse"></div>
            <div class="comments__eclipse"></div>
        </div>
        <p class="comments__address">Emily, Los Angeles</p>
    </div>
        <div class="veronika">
        <picture>
            <source srcset="./images/veronika.webp 1x, ./images/veronika@2x.webp 2x" type="image/webp">
            <source srcset="./images/veronika.jpg 1x, ./images/veronika@2x.jpg 2x" type="image/jpg">
            <img class="comments__img" src="./images/veronika.jpg" alt="veronika">
        </picture>
        <div class="commets__text-box">
        <p class="comments__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
        <img class="comments__mark" src="./images/mark.png" alt="">
        </div>
        <div class="comments__eclipse-box">
            <div class="comments__eclipse"></div>
            <div class="comments__eclipse"></div>
            <div class="comments__eclipse"></div>
        </div>
        <p class="comments__address">Veronika, Los Angeles</p>
    </div>
    <div class="sara">
        <picture>
            <source srcset="./images/sara.webp 1x, ./images/sara@2x.webp 2x" type="image/webp">
            <source srcset="./images/Sara.jpg 1x, ./images/Sara@2x.jpg 2x" type="image/jpg">
            <img class="comments__img" src="./images/Sara.jpg" alt="sara">
        </picture>
        <div class="commets__text-box">
        <p class="comments__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
        <img class="comments__mark" src="./images/mark.png" alt="">
        </div>
        <div class="comments__eclipse-box">
            <div class="comments__eclipse"></div>
            <div class="comments__eclipse"></div>
            <div class="comments__eclipse"></div>
        </div>
        <p class="comments__address">Sara, Los Angeles</p>
    </div>
</div>



</section>
