<!DOCTYPE html>
<section class="compound">
  <div class="container">
    <ul class="compound__list">
      <li class="compound__item">
        <img class="compound__img" src="./images/compound1.png" alt="moomilk" />
        <p class="compound__text1">721</p>
        <p class="compound__text2">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="compound__item">
        <img class="compound__img" src="./images/compound2.png" alt="16kg" />
        <p class="compound__text1">16kg</p>
        <p class="compound__text2">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="compound__item">
        <img class="compound__img" src="./images/compound3.png" alt="84" />
        <p class="compound__text1">84</p>
        <p class="compound__text2">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
