<!DOCTYPE html>
<footer class="footer">
  <div class="footer__box container">
    <div class="tabletMarkup__titile">
      <span class="about__subtitle about__subtitle--margin"
        >HOMEMADE ICE CREAM MADE</span
      >
      <span class="about__title about__title--margin">WITH PASSION</span>
    </div>
    <div class="tabletMarkup__social">
      <ul class="list footerSocial">
        <li class="footerSocial__item">
          <a href="https://github.com//" class="footerSocial__link">
            <svg class="footerSocial__icon" width="20px" height="20px">
              <use href="./images/icon-sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footerSocial__item">
          <a href="https://web.telegram.org/z/" class="footerSocial__link">
            <svg class="footerSocial__icon" width="20px" height="20px">
              <use href="./images/icon-sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li class="footerSocial__item">
          <a href="https://www.facebook.com/" class="footerSocial__link">
            <svg class="footerSocial__icon" width="20px" height="20px">
              <use href="./images/icon-sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <span class="footerContact">
        Feel free to contact
        <a class="footerContact__tel" href="tel:+61 (0) 383 766 284"
          >+61 (0) 383 766 284</a
        >
      </span>
    </div>
  </div>
  <div class="rightsBorder">
    <p class="rightsBorder__text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
