<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<header>
  <section class="header">
    <div class="container container--nav">
      <div class="header__container">
        <a href="./">
          <img class="logo" src="./images/logo.png" alt="Logo" />
        </a>

        <nav class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a class="navigation__link" href="">Home</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="">About us</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="">How it`s made?</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="">Our products</a>
            </li>
            <li class="navigation__item navigation__item--after">
              <a class="navigation__link" href="">Contact</a>
            </li>
          </ul>
        </nav>

        <button
          class="hamburger hamburger--emphatic js-open-menu"
          type="button"
          aria-label="Menu"
          aria-controls="navigation"
          aria-expanded="true/false"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <button class="buyNowButton buyNowButton--size">
          Buy now
          <img class="redArrow" src="./images/arrowVectorRed.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="backdrop is-hidden" data-modal>
      <div class="container container--mobmenu">
        <div
          class="menu-container js-menu-container"
          id="mobile-menu"
          aria-expanded="false"
        >
          <div>
            <button class="buyNowButton buyNowButton--mobmenu">
              Buy now
              <img class="redArrow" src="./images/arrowVectorRed.svg" alt="" />
            </button>
            <ul class="mobilemenu__list">
              <li class="mobilemenu__item">
                <a class="mobilemenu__link">Home</a>
              </li>
              <li class="mobilemenu__item">
                <a class="mobilemenu__link">About us</a>
              </li>
              <li class="mobilemenu__item">
                <a class="mobilemenu__link">How it`s made?</a>
              </li>
              <li class="mobilemenu__item">
                <a class="mobilemenu__link">Our products</a>
              </li>
              <li class="mobilemenu__item">
                <a class="mobilemenu__link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
