<!DOCTYPE html>

<section class="hero">
  <div class="hero__container">
    <div class="ellipse__hero"></div>
    <div class="image__container">
      <picture>
        <source
          srcset="
            ./images/img2-dekstop.webp    1x,
            ./images/img2-dekstop@2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="./images/img2-dekstop.png 1x, ./images/img2-dekstop@2x.png 2x"
          media="(min-width: 1280px)"
        />

        <source
          srcset="./images/img2-tablet.webp 1x, ./images/img2-tablet@2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/img2-tablet.png 1x, ./images/img2-tablet@2x.png 2x"
          media="(min-width: 768px)"
        />

        <source
          srcset="./images/img2-mobile.webp 1x, ./images/img2-mobile@2x.webp 2x"
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="./images/img2-mobile.png 1x, ./images/img2-mobile.png 2x"
          media="(min-width: 320px)"
        />

        <img
          class="icecream"
          src="./images/img2-dekstop.png"
          alt="mmmm....ice cream"
        />
      </picture>
    </div>
    <div class="slogan">
      <div>
        <p class="slogan__text">
          <strong class="slogan__first">
            ICE CREAM MADE WIDTH
            <span class="slogan__second">PASSION</span></strong
          >
        </p>
      </div>
      <div class="slogan__descriptionButton">
        <button class="slogan__button">Products</button>
        <button class="slogan__button slogan__button--size">
          How it`s made
        </button>
      </div>
    </div>
    <div class="cupMilk">
      <picture>
        <source
          srcset="
            ./images/img1-dekstop.webp    1x,
            ./images/img1-dekstop@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="./images/img1-dekstop.png 1x, ./images/img1-dekstop@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/img1-tablet.webp 1x, ./images/img1-tablet@2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/img1-tablet.png 1x, ./images/img1-tablet@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img
          class="cupMilk__img"
          src="./images/img1-dekstop.png"
          alt="girl with icecream "
        />
      </picture>
      <span class="cupMilk__description"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et</span
      >
    </div>
    <div class="girl__ice">
      <picture>
        <source
          srcset="
            ./images/img3-dekstop.webp    1x,
            ./images/img3-dekstop@2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="./images/img3-dekstop.png 1x, ./images/img3-dekstop@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/img3-tablet.webp 1x, ./images/img3-tablet@2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/img3-tablet.png 1x, ./images/img3-tablet@2x.png 2x"
          media="(min-width: 768px)"
        />

        <img
          class=""
          src="./images/img3-dekstop.png"
          alt="girl with icecream "
        />
      </picture>
    </div>
    <div class="statistick">
      <span class="statistick__number">16 </span>
      <p class="statistick__description">cafes</p>

      <span class="statistick__number statistick__number--margin">23 </span>
      <p class="statistick__description statistick__description--after">
        food trucks
      </p>
    </div>
  </div>
</section>
