<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<section class="hero">
  <div class="hero__container">
    <img class="elipse" src="./images/Ellipse-mobile.png" alt="" />
    <img class="icecream" src="./images/img2-mobile.png" alt="" />
    <p class="slogan">
      <strong class="slogan__first">
        ICE CREAM MADE WIDTH <span class="slogan__second">PASSION</span></strong
      >
    </p>
    <div class="description">
      <button class="description__button">Products</button>
      <button class="description__button description__button--size">
        How it`s made
      </button>
    </div>
  </div>
</section>
