<!DOCTYPE html>
<section class="section">
    <div class="products container">
        <div class="products__text">
            <p class="products__subtitle">100% NATURAL</p>
            <p class="products__title">PRODUCTS</p>
        </div>
        <div class="products__card">
            <ul class="products__list">

                <li class="products__item">
                    <picture>
                        <source
                        srcset="./images/products1-desk.webp 1x, ./images/products1-desk@2x.webp 2x" media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/products1-desk.png 1x, ./images/products1-desk@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                        <source srcset="./images/products1-tabl.webp 1x, ./images/products1-tabl@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/products1-tabl.png 1x, ./images/products1-tabl@2x.png 2x" media="(min-width: 768px)" type="image/png">
                        <source srcset="./images/products1-mob.webp 1x, ./images/products1-mob@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                        <source srcset="./images/products1-mob.png 1x, ./images/products1-mob@2x.png 2x" media="(min-width: 320px)" type="image/png">
                        <img  class="products__img"  src="./images/products1-desk.png"  alt="ICE CREAM">
                    </picture>
                    <p class="products__item-text">ICE CREAM</p>
                    <div class="products__ellips">
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                    </div>
                    <div class="products__box">
                        <p class="products__item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.
                        </p>
                    </div>
                      <a class="products_link">
                        <img class="products__arrow" src="./images/arrow-right40.png" alt="стрела" width="40" height="40">
                      </a>
                </li>

                <li class="products__item coffee--color-bg">
                    <picture>
                        <source srcset="./images/products2-desk.webp 1x, ./images/products2-desk@2x.webp 2x" media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/products2-desk.png 1x, ./images/products2-desk@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                        <source srcset="./images/products2-tabl.webp 1x, ./images/products2-tabl@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/products2-tabl.png 1x, ./images/products2-tabl@2x.png 2x" media="(min-width: 768px)" type="image/png">
                        <source srcset="./images/products2-mob.webp 1x, ./images/products2-mob@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                        <source srcset="./images/products2-mob.png 1x, ./images/products2-mob@2x.png 2x" media="(min-width: 320px)" type="image/png">
                        <img class="products__img" src="./images/products2-desk.png" alt="COFFEE">
                    </picture>
                    <p class="products__item-text">ICE COFFEE</p>
                    <div class="products__ellips">
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                    </div>
                    <div class="products__box">
                        <p class="products__item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.
                        </p>
                    </div>
                    <a class="products_link">
                        <img class="products__arrow" src="./images/arrow-right40.png" alt="стрела" width="40" height="40">
                    </a>
                </li>

                <li class="products__item milkshakes--color-bg">
                    <picture>
                        <source srcset="./images/products3-desk.webp 1x, ./images/products3-desk@2x.webp 2x" media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/products3-desk.png 1x, ./images/products3-desk@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                        <source srcset="./images/products3-tabl.webp 1x, ./images/products3-tabl@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/products3-tabl.png 1x, ./images/products3-tabl@2x.png 2x" media="(min-width: 768px)" type="image/png">
                        <source srcset="./images/products3-mob.webp 1x, ./images/products3-mob@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                        <source srcset="./images/products3-mob.png 1x, ./images/products3-mob@2x.png 2x" media="(min-width: 320px)" type="image/png">
                        <img class="products__img" src="./images/products3-desk.png" alt="MILKSHAKES">
                    </picture>
                    <p class="products__item-text">MILKSHAKES</p>
                    <div class="products__ellips">
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                    </div>
                    <div class="products__box">
                        <p class="products__item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.
                        </p>
                    </div>
                    <a class="products_link">
                        <img class="products__arrow" src="./images/arrow-right40.png" alt="стрела" width="40" height="40">
                    </a>
                </li>

            </ul>
        </div>
    </div>
</section>