<!DOCTYPE html>
<section class="section">
    <div class="products container">
        <div class="products__text">
            <p class="products__title">100% NATURAL</p>
            <p class="products__subtitle">PRODUCTS</p>
        </div>
        <div class="products__card">
            <ul class="products__list">

                <li class="products__item">
                    <img class="products__img" srcset="./images/product1-mobile.png 1x, ./images/product1-mobile@2x.png 2x" alt="мороженое">
                    <p class="products__item-text">ICE CREAM</p>
                    <div class="products__ellips">
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                    </div>
                    <div class="products__box">
                        <p class="products__item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.
                        </p>
                    </div>
                      <a class="products_link">
                        <img class="products__arrow" src="./images/arrow-right40.png" alt="стрела" width="40" height="40">
                      </a>
                </li>

                <li class="products__item coffee--color-bg">
                    <img class="products__img" srcset="./images/product2-mobile.png 1x, ./images/product2-mobile@2x.png 2x" alt="мороженое">
                    <p class="products__item-text">ICE COFFEE</p>
                    <div class="products__ellips">
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                    </div>
                    <div class="products__box">
                        <p class="products__item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.
                        </p>
                    </div>
                    <a class="products_link">
                        <img class="products__arrow" src="./images/arrow-right40.png" alt="стрела" width="40" height="40">
                    </a>
                </li>

                <li class="products__item milkshakes--color-bg">
                    <img class="products__img" srcset="./images/product3-mobile.png 1x, ./images/product3-mobile@2x.png 2x" alt="мороженое">
                    <p class="products__item-text">MILKSHAKES</p>
                    <div class="products__ellips">
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                        <div class="ellips"></div>
                    </div>
                    <div class="products__box">
                        <p class="products__item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.
                        </p>
                    </div>
                    <a class="products_link">
                        <img class="products__arrow" src="./images/arrow-right40.png" alt="стрела" width="40" height="40">
                    </a>
                </li>

            </ul>
        </div>
    </div>
</section>