.about{
    padding-top: 125px;
    
    
    background-image: url('../images/about-bg-mob.png');
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/about-bg-mob@2x.png');
        }

    background-position: 0% 90%;
    background-size: contain;
    background-repeat: no-repeat;
    

    background-color: #FFF5F6;

    @media screen and (min-width: 768px){
        background-image: none;
    }
}

.about{
    @media screen and (min-width: 1280px) {
            background-image: url('../images/about-bg-desk.png');
            background-position: 0% 125%;
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../images/about-bg-desk@2x.png');
            }
        }
}


.about__content{
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.about__subtitle{
    margin-bottom: 15px;

    @include subtitle;

    @media screen and (min-width: 768px) {
        font-size: 26px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 30px;
    }
}

.about__title {
    margin-bottom: 26px;

    @include title;

    @media screen and (min-width: 768px) {
        font-size: 48px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
    }
}

.about__text-box{
    width: 340px;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 1280px) {
        width: 463px;
        margin-left: 74px;
        padding-left: 0;
        padding-right: 0;
    }
}

.about__text1{
    margin-bottom: 47px;
    margin-top: 47px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 176%;
    }
    
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 176%;
        letter-spacing: 0.04em;
    }
}

.about__text2{
    color: #907E82;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 176%;
        letter-spacing: 0.04em;
    }
    
    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 194%;
        letter-spacing: 0.04em;     
    }
}

.about__span {
    display: block;
    margin-top: 10px;
}

.about__btn{
    margin-top: 25px;
    width: 176px;

    @extend %button;

    @media screen and (min-width: 768px) {
        margin-top: 62px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 45px;
    }
}

