.header {
  background-color: #ffb8ca;
  padding-bottom: 15px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-bottom: 0;
  }
}
.header__container {
  position: relative;
  min-width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
    width: auto;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 0;
    margin-right: 0;
    z-index: 104;
    // width: 1280px;
    justify-content: space-evenly;
  }
}
.container--nav {
  width: auto;
}
.logo {
  padding-top: 5px;
  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 55px;
    margin-left: -70px;
  }
}
.buyNowButton {
  @extend %button;

  margin-top: 60px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 180px;
    margin-left: 10px;
  }
}

.buyNowButton--size {
  width: 160px;
  height: 44px;
  margin-left: 30px;
  color: $TitanMain_color;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: $TitanMain_color;
  }
  @media screen and (min-width: 100px) and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 0;
  }
}
.redArrow {
  margin-left: 14px;
}
.menu-container {
  background-color: #e17992;
  position: fixed;

  top: 0;
  right: 0px;
  width: 320px;
  height: 511px;
  overflow-x: hidden;

  z-index: 105;

  transform: translateX(100%);
  transition: transform 400ms linear;

  @media screen and (min-width: 1279px) {
    display: none;
  }
  @media screen and (min-width: 320px) and (max-width: 1279px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 60px;
    right: 0px;
    height: 427px;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}
.buyNowButton--mobmenu {
  margin-left: auto;
  margin-right: auto;
}
.mobilemenu__list {
  position: relative;
  @extend %list;
}
.mobilemenu__item {
  color: #ffffff;
  font-family: 'DM Sans';

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28em;
  display: flex;
  align-items: center;
  justify-content: center;

  // &:not(:first-child) {
  //   margin-top: 11px;
  // }
  // &:nth-child(2n + 1) {
  //   margin-top: 12px;
  // }
  &:first-child {
    margin-top: 32px;
  }
}
.mobilemenu__item:nth-child(2n + 1) {
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}
.mobilemenu__link {
  padding: 6px 0;
  // margin-top: 12px;
  // margin-bottom: 12px;
}
// .mobilemenu__item::before {
//   position: absolute;
//   top: 0;
//   content: '';
//   display: block;
//   width: 320px;
//   height: 2px;
//   background-color: #e18298;
// }
// .mobilemenu__item--after {
//   border-bottom: 1px solid #e18298;
//   width: 320px;
//   height: 2px;
//   background-color: #e18298;
// }
.navigation__list {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31em;
  color: #ffffff;

  @media screen and (min-width: 100px) and (max-width: 1279px) {
    display: none;
  }
}
.navigation__item:not(:last-child) {
  margin-right: 35px;
}
.navigation__link {
  padding: 20px 0 20px 0;
  color: #ffffff;
  &:hover,
  &:focus {
    color: $TitanMain_color;
  }
}
